p,
span,
label {
  margin: 0 !important;
  color: #000;
}

.main {
  height: 100%;
  width: 100%;

  .header1 {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;

    .appName {
      font-size: 2vw;
      font-family: serif;
      font-weight: 600;
    }

    .rightSection {
      display: flex;
      align-items: center;

      .profile {
        border: 1px solid darkgray;
        height: 7vh;
        border-radius: 2rem;
        display: flex;
        align-items: center;
        padding: 0 18px 0 8px;
        cursor: pointer;

        .profileImg {
          height: 5.5vh;
          width: 5.5vh;
          border-radius: 2rem;
          margin-right: 10px;
        }

        .username {
          font-weight: 600;
        }

        .viewProfile {
          color: gray;
          font-weight: 500;
        }
      }

      .logout {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 20px;

        .logoutIcon {
          height: 25px;
          width: 25px;
        }

        p {
          margin-top: 5px;
          font-weight: 500;
          color: grey;
        }
      }
    }
  }

  .section1 {
    padding: 30px;
    display: flex;
    // align-items: center;
    justify-content: space-between;

    .sideBar {
      width: 20%;
      border-radius: 10px;
      border: 1px solid lightgray;
      padding: 20px;

      .sectionTitle {
        font-size: 1.2rem;
        font-weight: 500;
      }

      .categories {
        display: flex;
        align-items: center;
        margin-top: 10px;

        input {
          margin-left: 0;
          margin-right: 10px;
        }
      }
    }

    .MainArea {
      width: 78%;
      padding: 0 10px;
      height: 100vh;

      .sectionTitle {
        font-size: 1.8rem;
        font-weight: 500;
        margin-bottom: 30px;
      }

      .propertyListing {
        display: flex;
        overflow-y: scroll;

        .listingItem {
          margin-right: 10px;
          border-radius: 10px;
          padding: 10px;
          cursor: pointer;

          img {
            height: 30vh;
            width: 35vh;
            object-fit: cover;
            border-radius: 10px;
            margin-bottom: 10px;
          }

          .price {
            font-size: 1.2rem;
            font-weight: 500;
          }

          .title {
            font-size: 1rem;
          }

          .location {
            color: grey;
          }
        }

        .listingItem:hover {
          background-color: whitesmoke;
        }
      }
    }
  }

  .footerMain {
    height: 28vh;
    border-top: 3px solid lightgray;
    padding: 30px;

    .title{
      font-weight: 500;
      font-size: 1.1rem;
    }

    .appName {
      font-size: 2vw;
      font-family: serif;
      font-weight: 600;
    }

    .slogan{
      color: grey;
    }

    .help{
      text-decoration-line: underline;
      color: grey;
      cursor: pointer;
    }

    .help:hover{
      font-weight: 500;
      color: black;
    }
  }

  .subFooter{
    background-color: #000;
    height: 5vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
  }
}

// modal
.imgContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;

  .modalProfileImg {
    height: 150px;
    width: 150px;
    border-radius: 50%;
  }
}
