span,
p,
label {
  color: #fff;
}

.main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .bgImage {
    height: 100%;
    width: 100%;
    object-fit: fill;
    position: absolute;
    z-index: -1;
  }

  .centerBox {
    background-color: #000;
    width: 25vw;
    height: 40vh;
    border-radius: 10px;
    padding: 10px;
    padding: 20px;

    .title {
      font-size: 2rem;
      text-align: center;
      letter-spacing: 0.2rem;
      font-family: monospace;
      color: #fff;
    }

    .subTitle {
      font-size: 1.5rem;
      text-align: center;
      font-family: monospace;
      margin-bottom: 50px;
      color: #fff;
    }

    .rememberMe {
      display: flex;
      align-items: center;
      margin-bottom: 2rem;

      input[type="checkbox"] {
        margin: 0;
        height: 18px;
        width: 18px;
      }

      label {
        margin-left: 15px;
        font-size: 0.9rem;
      }
    }
  }
  
  @media only screen and (max-width: 600px) {
    .centerBox{
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center ;
    }
  }

  @media only screen and (max-width: 600px) {
  }

  .centerBox > p {
    margin: 0;
  }

  .bottomSection {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .button {
      background-color: #fff;
      width: 30%;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
    }

    .socialIconLogin {
      display: flex;
      align-items: center;

      .socialIcon {
        height: 25px;
        width: 25px;
        margin-left: 10px;
      }
    }
  }
}
