.carouselItem{
  height: 50vh;
  width: 100%;
  object-fit: contain;
  margin: 0px 30px;
  border-radius: 10px;
  background-color: #000;
}

.preview{
  height: 40px;
  width: 50px;
  border-radius: 10px;
}